body {
  background-color: black;
  color: white;
  font-family: Courier;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 10px;
  background-color: black;
  width: 100%;
  border-top-style: dashed;
}

a:link {
  color: #720546;
  text-decoration: none;
}

a:visited {
  color: #720546;
}

a:hover {
  color: #580437;
}

a:active {
  color: #580437;
}

li {
  text-align: left;
}

