body {
  background-color: black;
  color: white;
  font-family: Courier;
  text-align: center;
  padding-bottom: 150px;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100%;
  border-top: 2px dashed white;
}

a {
  display: inline-flex;
  align-items: center;
  gap: 0.5vw;
}

a:link {
  color: #720546;
  text-decoration: none;
}

a:visited {
  color: #720546;
}

a:hover {
  color: #580437;
}

a:active {
  color: #580437;
}

icon {
  width: 1vw;
  height: 1vw;
  object-fit: contain;
}

div.okno {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed white;
  width:20%;
  font-size:1.1vw;
  padding-left: 2%;
  padding-right: 2%;
  
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.ascii1 {
  color: white;
  font-size: 1.5vw;
}
.ascii2 {
  color: #720546
}
title {
  width:80%;
}
::selection {
  background: #720546;
  color: black;
}